.post{
    width: 200px;
    height: 200px;
    margin-left:2%;
    border-radius: 5px;
    background-color: wheat;
}
@media (max-width: 768px) {

    .post {
        width: 130px;
        height: 130px;
        margin-top: 2%;
    }
}